<!-- templates/partials/offers_form.html -->

<fieldset>
    <legend>Make an Offer on This Property</legend>
    <!-- TITLE -->
    <p>Name: <input type="text" name="name"></p>
    <!-- AMOUNT -->
    <p>Enter your offering amount: $<input type="text" name="offering"></p>
    <!-- EMAIL -->
    <p>Enter email:<input type="text" name="email"></p>
    <!-- LOCATION -->
    <p>Enter location of property. Offers can only be made on OPEN deals:
        <select name="location">
            {% for property in properties %}
                <option value="{{ property.name }}"> {{ property.name }} [{{property.status }}]</option>
            {% endfor %}
        </select>
</fieldset>
    <!-- SUBMIT OFFER -->
    {#<!-- <form action="{{ url_for('offers_show_every') }}" method="GET">--> #}
        <button type="submit">Submit</button>
    {#<!--</form>-->#}
    <!-- CANCEL OFFER -->
    {#<!--<form action="{{ url_for('offers_show_every') }}" method="GET">--> #}
        <button type="submit">Cancel</button>
    {#<!--</form>--> #}
