<!-- templates/offers_show.html -->
{% extends "base.html" %}

{% block content %}
    <h1>Offers</h1>
    <h3>Thanks for choosing Homely Properties!</h3>
    <h4>Here are the offers we are currenly processing.<br>
        You will be notified via email when your offer has finished the approval process.
    </h4>
    <!-- CREATE NEW OFFER -->
    <form action="{{ url_for('offers_new') }}">
        <button type="create">Invest Now!</button>
    </form>
    <!-- GO BACK TO PROPERTIES INDEX -->
    <form action="{{ url_for('properties_index') }}" method="GET">
        <button type="go-home">Go Back to Properties</button>
    </form>
    <ol>
    {% for offer in offers %}
        {% if offer.name %}
            <li><p><a href='/offers/{{ offer._id }}'>{{ offer.name }}</a></p>
                <p>Location: {{ offer.location }}</p>
        {% endif %}
    {% endfor %}
            {# <p>Email: {{ offer.email }}</p>
            <p>Offer Amount:
                {% if offer.offer %}
                    ${{ offer.offer }}
                {% endif %} #}
            </p>
            <!-- EDIT THIS OFFERING -->
            {#<form action="/offers/{{ offer._id }}/edit">
                <button type="edit">Edit This Offering</button>
            </form> #}
            <!-- DELETE THIS OFFERING -->

    <!-- GO BACK TO PROPERTIES INDEX -->
    <form action="{{ url_for('properties_index') }}" method="GET"><br>
        <button type="go-home">Go Back to Properties</button>
    </form>
    </ol>

{% endblock %}
